html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato, sans-serif;
    padding: 5px;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

p, ol, ul {
    padding-bottom: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid #c3c3c3;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr {
    border: 1px solid #c3c3c3;
}

table thead {
    background: #c3c3c3;
}

table thead tr th {
    text-align: left;
    padding: 5px;
}

