h1 {
    color: red;
}

p {
    font-size: 25px;
}

.highlight {
    background-color: yellow;
}

#main-title {
    font-style: italic;
}

#special-paragraph {
    font-style: oblique;
}

ul {
    list-style-type: circle;
}

div {
    background-color: rgb(255, 0, 200);
}